/* -----------------------light/dark color controls--------------------------*/

:root {
	--text-color: #000;
	--background-color: #fff;

	--secondary-text-color: #333;
	--secondary-background-color: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #fff;
		--background-color: #222;

		--secondary-text-color: #e6e6e6;
		--secondary-background-color: #777;
	}
}

/* -----------------------global--------------------------*/

body {
	margin: 0;
	font-family: Garamond, serif;
	font-size: 16px; 
	line-height: 1.5; 
	background-color: var(--background-color);
	color: var(--text-color);
}

h1 {
    font-style: italic; 
    text-align: center; 
    padding: 20px 0; 
}

p { 
	text-indent: 36px; 
}

a {
	color: #b8afca; 
	text-decoration: none; 
}

a:hover {
	color: #bae190; 
	text-decoration: underline;
}

/* -----------------------layout--------------------------*/

.flex-container {
	display: flex;
	height: 100vh; 
}

.sidebar {
	position: sticky;
	top: 0; 
	width: 100px;
	padding: 15px;

	overflow-y: auto;
	background-color: var(--secondary-background-color);
}

.sidebar ul {
	list-style-type: none; 
	padding: 0; 
	margin: 0; 
}

.editor {
	flex: 1; 
	padding-left: 30px;
	padding-right: 30px;
	
	overflow-y: auto;
	background-color: var(--background-color);
	color: var(--secondary-text-color);
}

/* -----------------------forms--------------------------*/

.login-page-content {
	padding-top: 100px;
}

.login {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	padding: 10px;
}

.input {
	border: none; 
	background-color: var(--background-color); 
	font-family: Garamond, serif; 
	font-size: 16px; 
	line-height: 1.5; 
	color: var(--text-color);
}

/* -----------------------buttons--------------------------*/

.button {
	background-color: var(--background-color); 
	color: var(--text-color); 
	width: 100%; 
	font-family: Garamond, serif; 
	font-size: 14px; 
	line-height: 1.5;
}

.folder {
	text-emphasis: bold;
}

.document {
	margin-left: 20px;
}