/* -----------------------light/dark color controls--------------------------*/

:root {
	--text-color: #000;
	--background-color: #e6e6e6;

	--secondary-text-color: #2c2c2c;
	--secondary-background-color: #bac0c7;

	--button-color: #4b5562;
	--button-text: #e6e6e6;

	--accent-color: #509ec5;
	--active-accent-color: #b22cad;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #fff;
		--background-color: #202124;

		--secondary-text-color: #dadada;
		--secondary-background-color: #383c48;

		--button-color: #21242c;
		--button-text: #bfbfcb;

		--accent-color: #b8afca;
		--active-accent-color: #bae190;
	}
}

/* -----------------------global--------------------------*/

body {
	margin: 0;
	font-family: Garamond, serif;
	font-size: 16px; 
	line-height: 1.5; 
	background-color: var(--background-color);
	color: var(--text-color);
}

h1 {
    font-style: italic; 
    text-align: center; 
    padding: 20px 0; 
}

p { 
	text-indent: 36px; 
	color: var(--secondary-text-color);
}

a {
	color: var(--accent-color); 
	text-decoration: none; 
}

a:hover {
	color: var(--active-accent-color); 
	text-decoration: underline;
}

/* -----------------------layout--------------------------*/

.flex-container {
	display: flex;
	height: 100vh; 
}

.sidebar {
	position: sticky;
	top: 0; 
	min-width: 100px;
	max-width: 200px;
	width: 15%;
	padding-left: 15px;
	padding-right: 15px;

	overflow-y: auto;
	background-color: var(--secondary-background-color);
}

.sidebar ul {
	list-style-type: none; 
	padding: 0; 
	margin: 0; 
}

.editor {
	flex: 1; 
	padding-left: 30px;
	padding-right: 30px;
	
	overflow-y: auto;
	background-color: var(--background-color);
}

/* -----------------------forms--------------------------*/

.login-page-content {
	padding-top: 100px;
}

.login {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	padding: 10px;
}

.input {
	border: none; 
	background-color: var(--background-color); 
	font-family: Garamond, serif; 
	font-size: 16px; 
	line-height: 1.5; 
	color: var(--secondary-text-color);
}

/* -----------------------buttons--------------------------*/

button {
	background-color: var(--button-color); 
	color: var(--button-text);
	width: 100%; 
	font-family: 'Gill Sans', sans-serif;
	font-weight: bold; 
	font-size: 14px; 
	line-height: 1.5;
	padding: 5px;
	
	border: none;
}

.folder {
	text-emphasis: bold;
}

.document {
	margin-left: 20px;
}