:root {
	color-scheme: light dark;

	--text-color: light-dark(#000, #fff);
	--background-color: light-dark(#fff, #111);

	--secondary-text-color: light-dark(#333, #e6e6e6);
	--secondary-background-color: light-dark(#e6e6e6, #222);
}

body {
	margin: 0;
	font-family: Garamond, serif;
	font-size: 16px; 
	line-height: 1.5; 
	background-color: var(--background-color);
	color: var(--text-color);
}

h1 {
    font-style: italic; 
    text-align: center; 
    font-family: Garamond, serif; 
    color: var(--text-color);
	padding-top: 20px; 
	padding-bottom: 20px;
}

.button {
	background-color: var(--background-color); 
	color: var(--text-color); 
	width: 100%; 
	font-family: Garamond, serif; 
	font-size: 14px; 
	line-height: 1.5;
}

.flex-container {
	display: flex;
	height: 100vh; 
}

.login-page-content {
	padding-top: 100px;
}

.login {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	padding: 10px;
}

.input {
	border: none; 
	background-color: var(--background-color); 
	font-family: Garamond, serif; 
	font-size: 16px; 
	line-height: 1.5; 
	color: var(--text-color);
}

.sidebar {
	position: sticky;
	left: 0;
	top: 0; 
	width: 100px;
	overflow-y: auto;
	background-color: var(--secondary-background-color);
	padding: 15px;
}

.editor {
	flex: 1; 
	background-color: var(--background-color);
	color: var(--secondary-text-color);
	padding: 15px;
	overflow-y: auto;

	padding-left: 30px;
	padding-right: 30px
}

p { 
	text-indent: 36px; 
}

a {
	color: #b8afca; 
	text-decoration: none; 
}

a:hover {
	color: #bae190; 
	text-decoration: underline;
}
.sidebar ul {
	list-style-type: none; 
	padding: 0; 
	margin: 0; 
}

.folder {
	text-emphasis: bold;
}

.document {
	margin-left: 20px;
}