<html>
<head>
    <meta charset="UTF-8">
    <title>Analyze Text</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="flex-container">
        <div class="sidebar">
            <form action="{{ url_for('welcome') }}" method="GET">
                <button type="submit" class="button" style="width: 90%; margin-top: 20px;">
                    Back to Welcome
                </button>
            </form>
        </div>
        <div class="editor">
            <h1>Here is a text analysis of {{ filename }}:</h1>
            <p>Total word count: {{ word_count }}</p>
            <p>Unique words: {{ unique_word_count }}</p>

            <h2>Most common words</h2>
            <ul>
                {% for word, count in common_words %}
                    <li>{{ word }}: {{ count }}</li>
                {% endfor %}
            </ul>

            <h2>Top 30 Words Histogram</h2>
            <div class="histogram">
            {% for word, count in histogram.items() %}
                <div class="bar-row">
                    <span class="bar-label">{{ word }}</span>
                    <div class="bar-container">
                        <div class="bar" style="width: {{ count / max_count * 100 }}%;"></div>
                    </div>
                    <span class="bar-count">{{ count }}</span>
                </div>
            {% endfor %}
            </div>

            <h2>Generated text</h2>
            <p> {{ markov_text }} </p>

        </div>
    </div>
</body>
</html>