<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="/assets/images/logo.png">
</head>
<body>
    <div class="flex-container">
        <div class="sidebar">
            <form action="{{ url_for('analyze') }}" method="GET">
                <button type="submit" class="button" style="width: 90%; margin-top: 20px;">
                    Analyze Text
                </button>
            </form>

            <a href="{{ url_for('select_text', filename='white-nights.txt') }}">White Nights</a><br>
            <a href="{{ url_for('select_text', filename='the-idiot.txt') }}">The Idiot</a><br>
            <a href="{{ url_for('select_text', filename='crime-and-punishment.txt') }}">Crime and Punishment</a><br>
            <a href="{{ url_for('select_text', filename='notes-from-the-underground.txt') }}">Notes from the Underground</a><br>
            <a href="{{ url_for('select_text', filename='the-brothers-karamazov.txt') }}">The Brothers Karamazov</a><br>

        </div>
        <div class="editor">
            <h1>Welcome, {{ username }}!</h1>
            <div class = "text-editor">
                {% for paragraph in paragraphs %}
                    <p>{{ paragraph.strip() }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2026 Kayra Sacan</p>
    </footer>
</body>
</html>