<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="flex-container">
        <div class="sidebar">
            <form action="/addact" method="POST">
                <div class="act">
                    <input type="text" id="act" name="act" placeholder="Act name" class="input" style="width: 90%; margin-bottom : 10px;">
                </div>

                <div class="act">
                    <button type="submit" class="button" style="width: 90%;">Create Act</button>
                </div>
            </form>
           <!--- <div class="add-section">
                <button class="button" onclick="location.href='actone/actone.html'">Add Act</button>
                <div style="margin: 10px 0;"></div>
                <button class="button" onclick="location.href='actone/sceneone/sceneone.html'">Add Scene</button>
                <div style="margin: 10px 0;"></div>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Synopsis</a></li>
                    <li><a href="actone/actone.html">Act One</a></li>
                    <li style="margin-left: 20px;"><a href="actone/sceneone/sceneone.html">Scene One</a></li>
                    <li style="margin-left: 20px;"><a href="actone/scenetwo/scenetwo.html">Scene Two</a></li>
                </ul>
            </nav>--->
        </div>
        <div class="editor">
            <h1 style="padding-top: 20px; padding-bottom: 20px;">Welcome, {{ username }}!</h1>
            <p>{{ text }}</p>
        </div>
    </div>
    <footer>
        <p>&copy; 2026 Kayra Sacan</p>
    </footer>
</body>
</html>